@import "vars"

/*==========  Desktop First  ==========*/

/* Largest Devices, Wide Screens */
@media only screen and (max-width : 1350px)
	.container
		width: 1170px


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.container 
		width: 970px
	
	.flex-container__3
		margin-right: 20px
		width: calc((100% - 40px) / 3)

	.flex-container__4
		margin-right: 20px
		width: calc((100% - 60px) / 4)

	.btn
		font-size: 14px
		line-height: 30px

	.block-title
		margin-bottom: 30px

	//index page
	.options-item
		&__link-img
			margin-bottom: 20px
		&__link
			font-size: 24px
		&__cost
			font-size: 22px
		&__cost-info
			margin-bottom: 10px
			font-size: 14px
		&__top-content 
			margin-bottom: 20px
			.btn
				margin-bottom: 20px
		&__li
			padding-left: 24px
			line-height: 20px

	.offers-item
		&__title
			margin-bottom: 5px
		&__link
			font-size: 24px
		&__info
			margin: 0 0 10px
			font-size: 16px

	.benefits-item
		&__block-icon
			margin-bottom: 10px
		&__title
			margin: 0 0 5px
			font-size: 16px
		&__info
			margin: 0
	// /index page
	

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.container
		width: 750px

	.header
		margin-bottom: 43px
		&__link
			padding: 10px 0

	.block-title
		margin-bottom: 20px
		&__h2
			font-size: 26px
			line-height: 30px
		&__span
			font-size: 15px
			line-height: 24px

	.btn
		font-size: 12px
		line-height: 26px

	.flex-container
		margin-bottom: 20px

	.flex-container__4
		margin-right: 40px
		width: calc((100% - 80px) / 2)

	//index page
	.options-item
		padding-bottom: 15px
		&__link-img
			margin-bottom: 10px
		&__content
			padding: 0 15px
		&__link
			font-size: 22px
			line-height: 28px
		&__cost
			font-size: 20px
		&__li
			margin-bottom: 10px
			padding-left: 22px
			line-height: 20px

	.offers
		margin-bottom: 50px
			
	.offers-item
		&__link
			font-size: 20px
		&__info
			font-size: 14px

	.benefits .block-title__h2
		font-size: 30px

	.slider
		min-height: 400px
		.slick-arrow
			width: 80px
		.slide
			min-height: 400px
			&__content
				margin: 0 auto
				width: calc(100% - 80px)			
			.container
				min-height: 400px
			&__big-text
				font-size: 30px
				line-height: 34px
		.slick-dots
			bottom: 45px

	.article-preview
		&__title
			margin: 0 0 20px
			font-size: 26px
			line-height: 30px
	// /index page
		

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.container 
		width: 100%

	.header
		margin-bottom: 33px
		padding: 0 20px
		&__link
			padding: 5px 0
			line-height: 28px
			&::before
				margin-right: 5px
		&__logo
			width: 40%

	.block-title
		&__h2
			font-size: 20px
			line-height: 28px
		&__span
			font-size: 13px

	.flex-container__3
		margin-bottom: 20px
		width: calc((100% - 20px) / 2)
		&:nth-of-type(2n)
			margin-right: 0
		&:last-of-type
			margin: 0 auto 20px
		
	.footer
		display: flex
		flex-direction: column
		flex-wrap: wrap
		align-items: center
		padding: 10px 0 20px 0
		.copy
			margin: 0 auto 5px
		&-menu
			justify-content: center
			&__link
				padding: 5px 11px
				line-height: 16px
	
	//index page
	.options
		margin-bottom: 40px

	.slider
		min-height: 300px
		.slick-arrow
			width: 60px
		.slide
			min-height: 300px
			&__content
				margin: 0 auto
				width: calc(100% - 60px)			
			.container
				min-height: 300px
			&__small-text
				line-height: 18px
			&__big-text
				font-size: 24px
				line-height: 26px
		.slick-dots
			bottom: 45px

	.article-preview__title
		margin-bottom: 10px
		font-size: 24px
	// /index page

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.header
		display: flex
		flex-wrap: wrap
		&__logo
			order: 3
			width: 100%
			text-align: center
		&__img
			margin: 5px auto

	.flex-container__3,
	.flex-container__4
		width: 100%
		margin: 0 auto 20px
			
	//index page
	.options-item
		&__top-content 
			margin-bottom: 10px
			.btn
				margin-bottom: 10px
	

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

